modules = ["nodejs-20"]

run = "pnpm --filter @workspace/redom-backend run start"

[deployment]
build = "pnpm --filter @workspace/redom-backend run build"
run = "pnpm --filter @workspace/redom-backend run start"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081
