PORT=8090
DATABASE_URL=
SMS_API_KEY=
SMS_DEFAULT_SOURCE=ReDom
SMS_MAX_MESSAGE_LENGTH=1600
SMS_QUEUE_POLL_MS=1000
SMS_MAX_ATTEMPTS=8
SMS_RETRY_BASE_MS=5000
SMSC_ENABLED=false
SMSC_HOST=
SMSC_PORT=2775
SMSC_SYSTEM_ID=
SMSC_PASSWORD=
SMSC_SYSTEM_TYPE=
SMSC_TON=1
SMSC_NPI=1
SMSC_SOURCE_TON=5
SMSC_SOURCE_NPI=0
SMSC_DEST_TON=1
SMSC_DEST_NPI=1
SMSC_ENQUIRE_LINK_MS=30000